{:main            nw-calculator.core
 :optimizations   :advanced
 :asset-path      "js/compiled/prod"
 :output-to       "resources/public/js/compiled/app.js"
 :output-dir      "resources/public/js/compiled/prod"
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_"        false
                   "day8.re_frame.tracing.trace_enabled_QMARK_" false
                   goog.DEBUG                                   false}}